
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: none;
	margin: 0;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor: crosshair;		
}

/* This is the zoom window. */
.cloud-zoom-big {
	border: none;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
}


/* This is the zoom window. */
.cloud-zoom-big {
/*border:4px solid #ccc;*/
overflow:hidden;
}